[submodule "box2d"]
	path = box2d
	url = https://github.com/Birch-san/box2d.git
	branch = embuild
[submodule "box2cpp"]
	path = box2cpp
	url = https://github.com/Birch-san/box2cpp.git
	branch = birch
[submodule "enkiTS"]
	path = enkiTS
	url = https://github.com/dougbinks/enkiTS.git
